body {
    display: grid;
    margin: 0;
    grid-template-columns: 20vw repeat(2, 1fr);
}

.sidebar {
    box-sizing: border-box;
    padding-left: 20px;
    width: 20vw;
    background-color: #9b59b6;
    grid-row: 1 / span 2;
    height: 100vh;
}

.sidebar > ul {
    list-style: none;
    padding: 0;
    line-height: 2rem;
}

.header {
    background-color: #3498db;
    grid-column: 2 / span 2;
}
.project-content {
    background-color: #c0392b;
}

.announcement-content {
    background-color: #27ae60;
}

.trending-content {
    background-color: #f39c12;
}
