body {
    display: grid;
    margin: 0;
    grid-template-columns: 20vw repeat(2, 1fr);
    grid-auto-rows: 15vh;
}

/* Sidebar */
.sidebar {
    box-sizing: border-box;
    padding-left: 20px;
    width: 20vw;
    background-color: #9b59b6;
    grid-row: 1 / span 2;
    height: 100vh;
}

.sidebar > ul {
    list-style: none;
    padding: 0;
    line-height: 2rem;
}

/* Header */
.header {
    background-color: #3498db;
    grid-column: 2 / span 2;
}

/* Search bar */
.search-container {
    display: flex;
    height: 3vw;
    align-items: center;
    justify-content: center;
}

.left-container {
    display: flex;
    width: 70%;
    gap: 8px;
    align-items: center;
}

.left-container > input {
    width: 70%;
}

.right-container {
    display: flex;
    gap: 8px;
    margin-right: 10px;
}

/* Admin bar */
.admin-control {
    display: flex;
    align-items: center;
    margin-top: 8px;
    column-gap: 20rem;
}

.admin-control > .left-container {
    width: fit-content;
    margin-left: 3rem;
}

.welcome > div:nth-child(2) {
    margin-top: 8px;
}

.project-content {
    background-color: #c0392b;
}

.announcement-content {
    background-color: #27ae60;
}

.trending-content {
    background-color: #f39c12;
}
